{:site-title       "☕"
 :author           "Edward Paget"
 :description      "Coffee is pretty great"
 :site-url         "http://fuckyeah.coffee/"
 :post-root        "posts"
 :tag-root         "tags"
 :page-root        "pages"
 :blog-prefix      "/"
 :rss-name         "rss.xml"
 :recent-posts     5
 :post-date-format "yyyy-MM-dd"
 :sass-src         nil
 :sass-dest        nil
 :resources        ["css" "js" "img"]
 :disqus?          false
 :disqus-shortname ""}
